/*
* font-face content to support icons.
* use this file for custom css. 
*/
@font-face {
    font-family: 'entypo';
    src: url('../font-face/entypo.eot'), 
    url('../font-face/entypo.eot?#iefix') format('embedded-opentype'), 
    url('../font-face/entypo.woff') format('woff'), 
    url('../font-face/entypo.ttf') format('truetype'), 
    url('../font-face/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'entypo-social';
    src: url('../font-face/entypo-social.eot'), 
    url('../font-face/entypo-social.eot?#iefix') format('embedded-opentype'), 
    url('../font-face/entypo-social.woff') format('woff'), 
    url('../font-face/entypo-social.ttf'), format('truetype'), 
    url('../font-face/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

.email:before {
    font-family: entypo;
    font-size: 2.5em;
    content: '\2709';
    display: inline;
}

/* New prperties added by Alkarim Bhalesha(AB) /25/july/2013: boder-style, box-shadow, background & Email:hover {}*/
.email {
    background: none;
    border-style: none;
    box-shadow: none;
}

.email:hover {
    background: none;
}


.tel:before {
    font-family: entypo;
    font-size: 2.5em;
    content: '\1F4DE';
    display: inline;
}
.fn:before {
    font-family: entypo;
    font-size: 2.5em;
    content: '\2302';
    display: inline;
    white-space: 1em;
}
.location.map-link:before {
    font-family: entypo;
    font-size: 2.5em;
    content: '\E724';
    display: inline;
}

abbr[title="email"] 
{ 
display: none;
}

abbr[title="voice"] 
{ 
display: none;
}
