/*
 * ==================================================
 * Patterns
 * 
 * Pattern classes to extend into other stylesheets.
 * ==================================================
 */
.no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.no-bullets {
  list-style-image: none;
  list-style-type: none;
  padding-left: 0;
}

.pull-right {
  display: inline;
  float: right;
}

.pull-left {
  display: inline;
  float: left;
}

.muted {
  color: #acacac;
}

.element-invisible {
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.element-focusable {
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.element-focusable:active, .element-focusable:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: static !important;
  width: auto;
}

.margin-top {
  margin-top: 1.5em;
}

.margin-bottom {
  margin-bottom: 1.5em;
}

.margin-half-top {
  margin-top: 0.75em;
}

.margin-half-bottom {
  margin-bottom: 0.75em;
}

.pull-left {
  display: inline;
  float: left;
}

.pull-right {
  display: inline;
  float: right;
}

/* Backgrounds */
body.not-front, body.front, body .postscript-wrapper {
  background-color: #e6e6e6;
}

#header, #main-menu, #main {
  background-color: #f4f4f4;
}

#page {
  border-top: 6px solid #363636;
}

footer .footer-columns, footer .footer {
  background-color: #575757;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

#search-theme-form input.form-text,
#search-box input.form-text,
#search-block-form input.form-text,
#islandora-solr-simple-search-form input.form-text,
#ilives-solr-simple-search-block-form input.form-text,
#google-cse-searchbox-form input.form-text,
#ilives-solr-search-block-form input.form-text {
  color: #ccc;
}
#search-theme-form input.form-text:focus,
#search-box input.form-text:focus,
#search-block-form input.form-text:focus,
#islandora-solr-simple-search-form input.form-text:focus,
#ilives-solr-simple-search-block-form input.form-text:focus,
#google-cse-searchbox-form input.form-text:focus,
#ilives-solr-search-block-form input.form-text:focus {
  color: #333;
}

.main-menu-inner,
.navigation-inner {
  width: 100%;
  height: 0px;
  border-left: 18px solid transparent;
  border-top: 18px solid #ccc;
  border-right: 18px solid #ccc;
  border-bottom: 18px solid #ccc;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}

.main-menu-inner .main-menu,
.navigation-inner .block {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 1em;
}
.main-menu-inner .main-menu:before, .main-menu-inner .main-menu:after,
.navigation-inner .block:before,
.navigation-inner .block:after {
  content: " ";
  display: table;
}
.main-menu-inner .main-menu:after,
.navigation-inner .block:after {
  clear: both;
}
.main-menu-inner .main-menu li,
.navigation-inner .block li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}
.main-menu-inner .main-menu li:first-child, .main-menu-inner .main-menu li.first,
.navigation-inner .block li:first-child,
.navigation-inner .block li.first {
  padding-left: 0;
}
.main-menu-inner .main-menu li:last-child,
.navigation-inner .block li:last-child {
  padding-right: 0;
}
.main-menu-inner .main-menu li.last,
.navigation-inner .block li.last {
  padding-right: 0;
}
.main-menu-inner .main-menu a,
.navigation-inner .block a {
  color: #333333;
}
.main-menu-inner .main-menu a:visited,
.navigation-inner .block a:visited {
  color: #333333;
}
.main-menu-inner .main-menu a:focus,
.navigation-inner .block a:focus {
  color: #404040;
}
.main-menu-inner .main-menu a:hover,
.navigation-inner .block a:hover {
  color: #404040;
}
.main-menu-inner .main-menu a:active,
.navigation-inner .block a:active {
  color: #595959;
}

.main-menu-inner .main-menu {
  margin-top: -12px;
}

.navigation-inner .block {
  margin-top: -8px;
}

.main-menu-inner select {
  margin-top: -25px;
  width: 100%;
  display: none;
}
@media (max-width: 48em) {
  .responsive .main-menu-inner ul {
    display: none;
  }
  .responsive .main-menu-inner select {
    display: inline-block;
  }
}

#secondary.links {
  background-color: #363636;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 26px 6px 26px;
}
#secondary.links > li a {
  text-transform: uppercase;
  color: #b9b9b9;
}
#secondary.links > li a:visited {
  color: #b9b9b9;
}
#secondary.links > li a:focus {
  color: #c6c6c6;
}
#secondary.links > li a:hover {
  color: #c6c6c6;
}
#secondary.links > li a:active {
  color: #dfdfdf;
}
#secondary.links > li a.active {
  color: #dfdfdf;
}

#secondary {
  float: right;
}
#secondary.links {
  margin: 0;
}
#secondary.links > li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.75em;
  line-height: 0.8em;
  border-right: 1px solid #b9b9b9;
}
#secondary.links > li:before, #secondary.links > li:after {
  content: " ";
  display: table;
}
#secondary.links > li:after {
  clear: both;
}
#secondary.links > li:first-child, #secondary.links > li.first {
  padding-left: 0;
}
#secondary.links > li:last-child {
  padding-right: 0;
}
#secondary.links > li.last {
  padding-right: 0;
}
#secondary.links > li.last {
  border-right: 0px;
}
@media (max-width: 47.9375em) {
  .responsive #secondary {
    float: none;
  }
}

.footer-columns, .footer-wrapper .footer {
  padding-top: 1.5em;
  color: #ececec;
}
.footer-columns h2.block-title, .footer-columns h2.title, .footer-wrapper .footer h2.block-title, .footer-wrapper .footer h2.title {
  padding-left: 10px;
  background-color: #363636;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.875em;
  line-height: 1.71429em;
}
.footer-columns a, .footer-wrapper .footer a {
  color: #b9b9b9;
}
.footer-columns a:visited, .footer-wrapper .footer a:visited {
  color: #b9b9b9;
}
.footer-columns a:focus, .footer-wrapper .footer a:focus {
  color: #c6c6c6;
}
.footer-columns a:hover, .footer-wrapper .footer a:hover {
  color: #c6c6c6;
}
.footer-columns a:active, .footer-wrapper .footer a:active {
  color: #dfdfdf;
}
.footer-columns ul, .footer-wrapper .footer ul {
  padding-left: 10px;
}
.footer-columns ul li, .footer-columns ul li.leaf, .footer-wrapper .footer ul li, .footer-wrapper .footer ul li.leaf {
  list-style: none;
}

/* Breadcrumbs */
.breadcrumb {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

.breadcrumb {
  color: #a0a0a0;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  padding-left: 0;
}
.breadcrumb a {
  color: #b9b9b9;
  padding: 0;
}
.breadcrumb a:visited {
  color: #b9b9b9;
}
.breadcrumb a:focus {
  color: #c6c6c6;
}
.breadcrumb a:hover {
  color: #c6c6c6;
}
.breadcrumb a:active {
  color: #dfdfdf;
}

/* Branding */
.region-header-first,
.region-header-second,
.region-header-third {
  margin-top: 0.75em;
}

.logo, .name-and-slogan {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: inline;
  float: left;
}

.logo {
  margin-bottom: 0.75em;
}
.logo img {
  border-right: 1px solid #C7C7C7;
  padding-right: 10px;
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .logo {
    padding-right: 0;
  }
  .responsive .logo img {
    width: 90%;
  }
}
@media (max-width: 29.9375em) {
  .responsive .logo {
    border-left: 0;
    padding-left: 2em;
    padding-top: 0;
    margin-bottom: 0em;
  }
}
@media (min-width: 72.5em) {
  .responsive .logo {
    margin-right: 1.80505%;
    width: 23.64621%;
    margin-left: 0%;
    margin-right: -100%;
  }
}
.ie6-8 .logo {
  margin-right: 1.80505%;
  width: 23.64621%;
  margin-left: 0%;
  margin-right: -100%;
}
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .responsive .logo {
    margin-right: 1.80505%;
    width: 23.64621%;
    margin-left: 0%;
    margin-right: -100%;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  .responsive .logo {
    margin-right: 1.80505%;
    width: 32.12996%;
    margin-left: 0%;
    margin-right: -100%;
  }
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .logo {
    margin-right: 1.80505%;
    width: 49.09747%;
    margin-left: 0%;
    margin-right: -100%;
  }
  .responsive .logo img {
    border-right: 0 !important;
  }
}
@media (max-width: 29.9375em) {
  .responsive .logo {
    margin-right: 1.80505%;
    width: 100%;
  }
  .responsive .logo img {
    border-right: 0 !important;
  }
}

.name-and-slogan {
  color: #333;
}
.name-and-slogan.with-logo {
  padding-top: 5px;
  margin-top: 5px;
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .name-and-slogan.with-logo {
    border-left: 0;
    font-size: 80%;
  }
}
@media (max-width: 29.9375em) {
  .responsive .name-and-slogan.with-logo {
    border-left: 0;
    font-size: 90%;
    margin-top: 0;
    padding-top: 0 !important;
    text-align: left;
  }
}
@media (min-width: 72.5em) {
  .responsive .name-and-slogan {
    margin-right: 1.80505%;
    width: 83.03249%;
    margin-left: 16.96751%;
    margin-right: -100%;
  }
  .responsive .name-and-slogan .site-name, .responsive .name-and-slogan .site-slogan {
    padding-left: 12px;
  }
}
.ie6-8 .name-and-slogan {
  margin-right: 1.80505%;
  width: 83.03249%;
  margin-left: 16.96751%;
  margin-right: -100%;
}
.ie6-8 .name-and-slogan .site-name, .ie6-8 .name-and-slogan .site-slogan {
  padding-left: 12px;
}
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .responsive .name-and-slogan {
    margin-right: 1.80505%;
    width: 83.03249%;
    margin-left: 16.96751%;
    margin-right: -100%;
  }
  .responsive .name-and-slogan .site-name, .responsive .name-and-slogan .site-slogan {
    padding-left: 45px;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  .responsive .name-and-slogan {
    margin-right: 1.80505%;
    width: 74.54874%;
    margin-left: 25.45126%;
    margin-right: -100%;
  }
  .responsive .name-and-slogan .site-name, .responsive .name-and-slogan .site-slogan {
    padding-left: 20px;
  }
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .name-and-slogan {
    margin-right: 1.80505%;
    width: 57.58123%;
    margin-left: 42.41877%;
    margin-right: -100%;
  }
  .responsive .name-and-slogan .site-name, .responsive .name-and-slogan .site-slogan {
    padding-left: 20px;
  }
}

.site-name {
  margin-top: 0em;
  margin-bottom: 0.27692em;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: normal !important;
  font-variant: small-caps;
  letter-spacing: 1px;
}
.site-name a {
  color: #8b2004;
  text-decoration: none;
}
.site-name a:visited {
  color: #8b2004;
}
.site-name a:focus {
  color: #8b2004;
}
.site-name a:hover {
  color: #8b2004;
}
.site-name a:active {
  color: #8b2004;
}

.site-slogan {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.site-slogan {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: normal;
  font-size: 1.375em;
  line-height: 0.92727em;
  margin-bottom: 0.20182em;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .site-slogan {
    font-size: 1.625em;
    line-height: 0.73846em;
  }
}
.site-slogan a, .site-slogan a:link, .site-slogan a:hover, .site-slogan a:active, .site-slogan a:focus, .site-slogan a:visited {
  color: #000;
}

.branding .name-and-slogan,
.branding .name-and-slogan.with-logo,
.branding .logo {
  padding-top: 1.5em;
}

.footer-message {
  font-size: 0.75em;
  line-height: 2em;
  text-align: right;
}

#main {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.content-wrapper {
  margin-bottom: 1.5em;
}

.footer-wrapper, .footer-columns-wrapper {
  margin-top: -1.5em;
  margin-bottom: 0.75em;
}

/* UPEI footer module */
.ie6-8 .upei-footer .bottom-links, .not-responsive .upei-footer .bottom-links {
  margin-right: 1.80505%;
  width: 15.16245%;
}
.ie6-8 .upei-footer .bottom-links.menu-05, .not-responsive .upei-footer .bottom-links.menu-05 {
  margin-right: 0;
}
.upei-footer .bottom-links {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: inline;
  float: left;
}
@media (min-width: 72.5em) {
  .responsive .upei-footer .bottom-links {
    margin-right: 1.43885%;
    width: 18.84892%;
  }
  .responsive .upei-footer .bottom-links.menu-05 {
    margin-right: 0;
  }
}
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .responsive .upei-footer .bottom-links {
    margin-right: 1.43885%;
    width: 18.84892%;
  }
  .responsive .upei-footer .bottom-links.menu-05 {
    margin-right: 0;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  .responsive .upei-footer .menu-03, .responsive .upei-footer .menu-04, .responsive .upei-footer .menu-05 {
    margin-right: 1.43885%;
    width: 32.3741%;
  }
  .responsive .upei-footer .menu-01, .responsive .upei-footer .menu-02 {
    margin-right: 1.80505%;
    width: 49.09747%;
  }
  .responsive .upei-footer .menu-02, .responsive .upei-footer .menu-05 {
    margin-right: 0;
  }
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .upei-footer .bottom-links {
    margin-right: 1.80505%;
    width: 49.09747%;
  }
  .responsive .upei-footer .menu-02, .responsive .upei-footer .menu-04 {
    margin-right: 0;
  }
  .responsive .upei-footer .menu-05 {
    margin-right: 1.80505%;
    width: 49.09747%;
  }
}
@media (max-width: 29.9375em) {
  .responsive .upei-footer .bottom-links {
    margin-right: 1.80505%;
    width: 100%;
  }
}
.upei-footer .footeraddress {
  clear: left;
  width: 100%;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.block-upei_footer {
  margin-bottom: 0.75em;
}

.inner-footeraddress {
  padding-top: 10px;
  background: url("http://students.upei.ca/files/misc/shieldfooter.png") no-repeat right top;
  color: #c6c6c6;
  font-size: 0.875em;
  line-height: 1.71429em;
}
@media (max-width: 47.9375em) {
  .responsive .inner-footeraddress {
    background: none;
  }
}

.links-last {
  text-align: center;
  margin-top: 1.5em;
}

/*
 * ==================================================
 * Views Slideshow
 * ==================================================
 */
/* no margin or padding on any of the elements holding the slides */
.views_slideshow_singleframe_main,
.views_slideshow_singleframe_teaser_section,
.views_slideshow_singleframe_slide,
.views_slideshow_singleframe_slide .views-row,
.views_slideshow_singleframe_slide .views-row div,
.views_slideshow_singleframe_slide .views-row .views-field-field-image-fid {
  margin: 0;
  padding: 0;
  width: 100% !important;
  position: relative;
}

@media (min-width: 72.5em) {
  .responsive .view-front-feature-image .view-content {
    height: 480px;
  }
}
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .responsive .view-front-feature-image .view-content {
    height: 400px;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  .responsive .view-front-feature-image .view-content {
    height: 300px;
  }
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .view-front-feature-image .view-content {
    height: 225px;
  }
}
@media (max-width: 29.9375em) {
  .responsive .view-front-feature-image .view-content {
    height: 155px;
  }
}

.ie6-8 .view-front-feature-image .view-content {
  height: 400px;
}

.views_slideshow_singleframe_slide .views-row .views-field-field-image-fid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  max-width: 826px;
  /* what is the biggest width you would want the image scaled to? */
  height: auto !important;
}

.views_slideshow_singleframe_main .views-field-teaser,
.views_slideshow_singleframe_main .views-field-teaser .field-content,
.scholar-slideshow-wrapper,
.scholar-slideshow-overlay {
  position: absolute !important;
}

@media (min-width: 72.5em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay, .responsive
  .scholar-slideshow-wrapper {
    top: 415px;
  }
}
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay, .responsive
  .scholar-slideshow-wrapper {
    top: 335px;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay, .responsive
  .scholar-slideshow-wrapper {
    top: 235px;
  }
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay, .responsive
  .scholar-slideshow-wrapper {
    top: 151px;
    font-size: 90%;
  }
}
@media (max-width: 29.9375em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay, .responsive
  .scholar-slideshow-wrapper {
    font-size: 90%;
    top: 110px;
  }
}
.views_slideshow_singleframe_main .scholar-slideshow-overlay div,
.scholar-slideshow-wrapper div {
  position: absolute !important;
}

.ie6-8 .views_slideshow_singleframe_main .scholar-slideshow-overlay, .ie6-8
.scholar-slideshow-wrapper {
  top: 230px;
}

.ie6-8 .views_slideshow_singleframe_main .scholar-slideshow-overlay {
  height: 80px;
}

.views_slideshow_singleframe_main .scholar-slideshow-overlay {
  background: #F6F5EE;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
}
@media (min-width: 72.5em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay {
    height: 80px;
  }
}
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay {
    height: 80px;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay {
    height: 80px;
  }
}
@media (min-width: 30em) and (max-width: 47.9375em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay {
    height: 80px;
  }
}
@media (max-width: 29.9375em) {
  .responsive .views_slideshow_singleframe_main .scholar-slideshow-overlay {
    height: 50px;
  }
}

.scholar-slideshow--link a {
  position: absolute !important;
  right: 10px;
  top: 5px;
}
@media (max-width: 29.9375em) {
  .responsive .scholar-slideshow--link a {
    font-size: 90%;
    top: 2px;
  }
}

.scholar-slideshow--title {
  left: 10px;
  top: 5px;
}
@media (max-width: 29.9375em) {
  .responsive .scholar-slideshow--title {
    font-size: 80%;
  }
}

.scholar-slideshow--subtitle {
  left: 10px;
  top: 2em;
}
@media (max-width: 29.9375em) {
  .responsive .scholar-slideshow--subtitle {
    display: none;
  }
}

/* Backgrounds */
body.not-front, body.front, body .postscript-wrapper {
  background-color: rgba(209, 200, 177, 0.7);
}

#header, #main-menu, #main {
  background-color: #f8f5ed;
}

#page {
  border-top: 6px solid #024625;
}

#secondary.links {
  background-color: #024625;
}

footer .footer-columns, footer .footer {
  background-color: #025a2f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.footer-columns h2.block-title,
.footer-columns h2.title,
.footer-wrapper .footer h2.block-title,
.footer-wrapper .footer h2.title {
  background-color: #014122;
}

.main-menu-inner,
.navigation-inner {
  border-top-color: rgba(209, 200, 177, 0.7);
  border-right-color: rgba(209, 200, 177, 0.7);
  border-bottom-color: rgba(209, 200, 177, 0.7);
}
