/* Backgrounds */

$secondary_color: #025a2f;
$primary_color: #d1c8b1;

body {
  &.not-front, &.front, .postscript-wrapper {
    background-color: adjust-color($primary_color, $alpha: -0.3);
  }
}

#header, #main-menu, #main {
  background-color: #f8f5ed;
}

#page {
  border-top: 6px solid $secondary_color;
}

#secondary.links {
  background-color: $secondary_color;
}

footer {
  .footer-columns, .footer {
    background-color: #94b5a1;
    @include border-radius(5px);
  }
}

.footer-columns h2.block-title,
.footer-columns h2.title,
.footer-wrapper .footer h2.block-title,
.footer-wrapper .footer h2.title {
  background-color: darken(#94b5a1, 15);
  color: darken($link-color-alt3, 5);
}

.main-menu-inner,
.navigation-inner {
  border-top-color: adjust-color($primary_color, $alpha: -0.3);
  border-right-color: adjust-color($primary_color, $alpha: -0.3);
  border-bottom-color: adjust-color($primary_color, $alpha: -0.3);
}

// Footer links
.footer-columns, .footer-wrapper .footer {
  a {
    @include link-colors($link-color-alt3, $hover: $link-color-hover-alt3, $focus: $link-color-hover-alt3, $visited: $link-color-visited-alt3, $active: $link-color-active-alt3);
  }
}