// Search text color

#search-theme-form input.form-text,
#search-box input.form-text,
#search-block-form input.form-text,
#islandora-solr-simple-search-form input.form-text,
#ilives-solr-simple-search-block-form input.form-text,
#google-cse-searchbox-form input.form-text,
#ilives-solr-search-block-form input.form-text {
  color: #ccc;
  &:focus {
    color: #333;
  }
}

// Primary nav Ribbon

%ribbon {
  width: 100%;
  height: 0px;
  border-left: 18px solid transparent;
  border-top: 18px solid #ccc;
  border-right: 18px solid #ccc;
  border-bottom: 18px solid #ccc;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}

.main-menu-inner,
.navigation-inner {
  @extend %ribbon;
//  li {
//    margin-top: -0.75em;
//  }
}

.main-menu-inner .main-menu,
.navigation-inner .block {
  @include horizontal-list-container;
  margin-left: 1em;
  li {
    @include horizontal-list-item(1em, left);
  }
  a {
    @include link-colors($link-color-alt3, $hover: $link-color-hover-alt3, $focus: $link-color-hover-alt3, $visited: $link-color-visited-alt3, $active: $link-color-active-alt3);
  }
}

.main-menu-inner .main-menu {
  margin-top: -12px;
}

.navigation-inner .block {
  margin-top: -8px;
}

// Responsive menu
.main-menu-inner {
  select {
    margin-top: -25px;
    width: 100%;
    display: none;
  }
  @include breakpoint-at(max-width $break-medium) {
    ul { display: none; }
    select { display: inline-block; }
  }
}

// Secondary links get a default styling and must be in upper right region

%round-bottom-menu {
  background-color: #363636;
  @include border-bottom-radius(5px);
  padding: 0 $typographic-indent 6px $typographic-indent;
  > li {
    a {
      text-transform: uppercase;
      @include link-colors($link-color-alt, $link-color-hover-alt, $link-color-active-alt, $link-color-visited-alt, $link-color-hover-alt);
      &.active { color: $link-color-active-alt }
    }
  }
}

#secondary {
  float: right;
  &.links {
    @extend %round-bottom-menu;
    margin: 0;
  > li {
      @include horizontal-list-container;
      @include horizontal-list-item(10px, left);
      @include adjust-font-size-to($font-size-sm, 0.4);
      border-right: 1px solid $link-color-alt;
      &.last {
        border-right: 0px;
      }
    }
  }
  @include breakpoint-at($break-handheld-all) {
    float: none;
  }
}

// Footer links
.footer-columns, .footer-wrapper .footer {
  @include padding-leader(1);
  color: lighten($link-color-alt, 20);
  h2 {
    &.block-title, &.title {
      padding-left: 10px;
      background-color: #363636;
      @include border-radius(5px);
      @include adjust-font-size-to($font-size-md, 1);
    }
  }
  a {
    @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
  }
  ul {
    padding-left: 10px;
    li, li.leaf {
      list-style: none;
    }
  }
}

/* Breadcrumbs */

.breadcrumb {
  @include margin-leader(0);
  @include margin-trailer(1);
}

.breadcrumb {
  color: adjust-color($link-color-alt, $lightness: -10);
  @include margin-leader(0);
  @include margin-trailer(0);
  margin-left: 0;
  padding-left: 0;
a {
  @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
  padding: 0;
  }
}