/* Handheld */
@media only screen and (max-width: 479px) {
  .responsive .g-all-row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 268px;
  }
  .responsive .g-all-row:before, .responsive .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row:after {
    clear: both;
  }
  body.toolbar .responsive .g-all-row:first-child:before {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 268px;
  }
  body.toolbar .responsive .g-all-row:first-child:before:before, body.toolbar .responsive .g-all-row:first-child:before:after {
    content: " ";
    display: table;
  }
  body.toolbar .responsive .g-all-row:first-child:before:after {
    clear: both;
  }
  .responsive .g-all-row .g-all-row {
    clear: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .responsive .g-all-row .g-all-row:before, .responsive .g-all-row .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row .g-all-row:after {
    clear: both;
  }
  .responsive .g-all-c1, .responsive .g-all-c2, .responsive .g-all-c3, .responsive .g-all-c4, .responsive .g-all-c5, .responsive .g-all-c6, .responsive .g-all-c7, .responsive .g-all-c8, .responsive .g-all-c9, .responsive .g-all-c10, .responsive .g-all-c11, .responsive .g-all-c12,
  .responsive .g-h-c1, .responsive .g-h-c2, .responsive .g-h-c3, .responsive .g-h-c4, .responsive .g-h-c5, .responsive .g-h-c6, .responsive .g-h-c7, .responsive .g-h-c8, .responsive .g-h-c9, .responsive .g-h-c10, .responsive .g-h-c11, .responsive .g-h-c12 {
    float: right;
  }
  .responsive .g-h-c1, .responsive .g-all-c1 {
    margin-left: 7.46269%;
    width: 1.49254%;
    margin-right: 0;
  }
  .responsive .g-h-c2, .responsive .g-all-c2 {
    margin-left: 7.46269%;
    width: 10.44776%;
    margin-right: 0;
  }
  .responsive .g-h-c3, .responsive .g-all-c3 {
    margin-left: 7.46269%;
    width: 19.40299%;
    margin-right: 0;
  }
  .responsive .g-h-c4, .responsive .g-all-c4 {
    margin-left: 7.46269%;
    width: 28.35821%;
    margin-right: 0;
  }
  .responsive .g-h-c5, .responsive .g-all-c5 {
    margin-left: 7.46269%;
    width: 37.31343%;
    margin-right: 0;
  }
  .responsive .g-h-c6, .responsive .g-all-c6 {
    margin-left: 7.46269%;
    width: 46.26866%;
    margin-right: 0;
  }
  .responsive .g-h-c7, .responsive .g-all-c7 {
    margin-left: 7.46269%;
    width: 55.22388%;
    margin-right: 0;
  }
  .responsive .g-h-c8, .responsive .g-all-c8 {
    margin-left: 7.46269%;
    width: 64.1791%;
    margin-right: 0;
  }
  .responsive .g-h-c9, .responsive .g-all-c9 {
    margin-left: 7.46269%;
    width: 73.13433%;
    margin-right: 0;
  }
  .responsive .g-h-c10, .responsive .g-all-c10 {
    margin-left: 7.46269%;
    width: 82.08955%;
    margin-right: 0;
  }
  .responsive .g-h-c11, .responsive .g-all-c11 {
    margin-left: 7.46269%;
    width: 91.04478%;
    margin-right: 0;
  }
  .responsive .g-h-c12, .responsive .g-all-c12 {
    margin-left: 7.46269%;
    width: 100%;
    margin-right: 0;
  }
  .responsive .g-all-p1, .responsive .g-h-p1 {
    margin-right: 0%;
    margin-left: -100%;
  }
  .responsive .g-all-p2, .responsive .g-h-p2 {
    margin-right: 8.95522%;
    margin-left: -100%;
  }
  .responsive .g-all-p3, .responsive .g-h-p3 {
    margin-right: 17.91045%;
    margin-left: -100%;
  }
  .responsive .g-all-p4, .responsive .g-h-p4 {
    margin-right: 26.86567%;
    margin-left: -100%;
  }
  .responsive .g-all-p5, .responsive .g-h-p5 {
    margin-right: 35.8209%;
    margin-left: -100%;
  }
  .responsive .g-all-p6, .responsive .g-h-p6 {
    margin-right: 44.77612%;
    margin-left: -100%;
  }
  .responsive .g-all-p7, .responsive .g-h-p7 {
    margin-right: 53.73134%;
    margin-left: -100%;
  }
  .responsive .g-all-p8, .responsive .g-h-p8 {
    margin-right: 62.68657%;
    margin-left: -100%;
  }
  .responsive .g-all-p9, .responsive .g-h-p9 {
    margin-right: 71.64179%;
    margin-left: -100%;
  }
  .responsive .g-all-p10, .responsive .g-h-p10 {
    margin-right: 80.59701%;
    margin-left: -100%;
  }
  .responsive .g-all-p11, .responsive .g-h-p11 {
    margin-right: 89.55224%;
    margin-left: -100%;
  }
  .responsive .g-all-p12, .responsive .g-h-p12 {
    margin-right: 98.50746%;
    margin-left: -100%;
  }
  .responsive .g-all-right, .responsive .g-h-right {
    display: inline;
    float: left;
  }
  .responsive .g-all-left, .responsive .g-h-left {
    display: inline;
    float: right;
  }
  .responsive .g-all-f, .responsive .g-h-f {
    clear: right;
  }
  .responsive .g-all-l, .responsive .g-h-l {
    clear: left;
    margin-left: 0;
    #margin-left: -1em;
  }
}
/* Handheld Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .responsive .g-all-row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 388px;
  }
  .responsive .g-all-row:before, .responsive .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row:after {
    clear: both;
  }
  body.toolbar .responsive .g-all-row:first-child:before {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 388px;
  }
  body.toolbar .responsive .g-all-row:first-child:before:before, body.toolbar .responsive .g-all-row:first-child:before:after {
    content: " ";
    display: table;
  }
  body.toolbar .responsive .g-all-row:first-child:before:after {
    clear: both;
  }
  .responsive .g-all-row .g-all-row {
    clear: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .responsive .g-all-row .g-all-row:before, .responsive .g-all-row .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row .g-all-row:after {
    clear: both;
  }
  .responsive .g-all-c1, .responsive .g-all-c2, .responsive .g-all-c3, .responsive .g-all-c4, .responsive .g-all-c5, .responsive .g-all-c6, .responsive .g-all-c7, .responsive .g-all-c8, .responsive .g-all-c9, .responsive .g-all-c10, .responsive .g-all-c11, .responsive .g-all-c12,
  .responsive .g-hl-c1, .responsive .g-hl-c2, .responsive .g-hl-c3, .responsive .g-hl-c4, .responsive .g-hl-c5, .responsive .g-hl-c6, .responsive .g-hl-c7, .responsive .g-hl-c8, .responsive .g-hl-c9, .responsive .g-hl-c10, .responsive .g-hl-c11, .responsive .g-hl-c12 {
    float: right;
  }
  .responsive .g-hl-c1, .responsive .g-all-c1 {
    margin-left: 5.15464%;
    width: 3.60825%;
    margin-right: 0;
  }
  .responsive .g-hl-c2, .responsive .g-all-c2 {
    margin-left: 5.15464%;
    width: 12.37113%;
    margin-right: 0;
  }
  .responsive .g-hl-c3, .responsive .g-all-c3 {
    margin-left: 5.15464%;
    width: 21.13402%;
    margin-right: 0;
  }
  .responsive .g-hl-c4, .responsive .g-all-c4 {
    margin-left: 5.15464%;
    width: 29.89691%;
    margin-right: 0;
  }
  .responsive .g-hl-c5, .responsive .g-all-c5 {
    margin-left: 5.15464%;
    width: 38.65979%;
    margin-right: 0;
  }
  .responsive .g-hl-c6, .responsive .g-all-c6 {
    margin-left: 5.15464%;
    width: 47.42268%;
    margin-right: 0;
  }
  .responsive .g-hl-c7, .responsive .g-all-c7 {
    margin-left: 5.15464%;
    width: 56.18557%;
    margin-right: 0;
  }
  .responsive .g-hl-c8, .responsive .g-all-c8 {
    margin-left: 5.15464%;
    width: 64.94845%;
    margin-right: 0;
  }
  .responsive .g-hl-c9, .responsive .g-all-c9 {
    margin-left: 5.15464%;
    width: 73.71134%;
    margin-right: 0;
  }
  .responsive .g-hl-c10, .responsive .g-all-c10 {
    margin-left: 5.15464%;
    width: 82.47423%;
    margin-right: 0;
  }
  .responsive .g-hl-c11, .responsive .g-all-c11 {
    margin-left: 5.15464%;
    width: 91.23711%;
    margin-right: 0;
  }
  .responsive .g-hl-c12, .responsive .g-all-c12 {
    margin-left: 5.15464%;
    width: 100%;
    margin-right: 0;
  }
  .responsive .g-all-p1, .responsive .g-hl-p1 {
    margin-right: 0%;
    margin-left: -100%;
  }
  .responsive .g-all-p2, .responsive .g-hl-p2 {
    margin-right: 8.76289%;
    margin-left: -100%;
  }
  .responsive .g-all-p3, .responsive .g-hl-p3 {
    margin-right: 17.52577%;
    margin-left: -100%;
  }
  .responsive .g-all-p4, .responsive .g-hl-p4 {
    margin-right: 26.28866%;
    margin-left: -100%;
  }
  .responsive .g-all-p5, .responsive .g-hl-p5 {
    margin-right: 35.05155%;
    margin-left: -100%;
  }
  .responsive .g-all-p6, .responsive .g-hl-p6 {
    margin-right: 43.81443%;
    margin-left: -100%;
  }
  .responsive .g-all-p7, .responsive .g-hl-p7 {
    margin-right: 52.57732%;
    margin-left: -100%;
  }
  .responsive .g-all-p8, .responsive .g-hl-p8 {
    margin-right: 61.34021%;
    margin-left: -100%;
  }
  .responsive .g-all-p9, .responsive .g-hl-p9 {
    margin-right: 70.10309%;
    margin-left: -100%;
  }
  .responsive .g-all-p10, .responsive .g-hl-p10 {
    margin-right: 78.86598%;
    margin-left: -100%;
  }
  .responsive .g-all-p11, .responsive .g-hl-p11 {
    margin-right: 87.62887%;
    margin-left: -100%;
  }
  .responsive .g-all-p12, .responsive .g-hl-p12 {
    margin-right: 96.39175%;
    margin-left: -100%;
  }
  .responsive .g-all-right, .responsive .g-hl-right {
    display: inline;
    float: left;
  }
  .responsive .g-all-left, .responsive .g-hl-left {
    display: inline;
    float: right;
  }
  .responsive .g-all-f, .responsive .g-hl-f {
    clear: right;
  }
  .responsive .g-all-l, .responsive .g-hl-l {
    clear: left;
    margin-left: 0;
    #margin-left: -1em;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .responsive .g-all-row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 712px;
  }
  .responsive .g-all-row:before, .responsive .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row:after {
    clear: both;
  }
  body.toolbar .responsive .g-all-row:first-child:before {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 712px;
  }
  body.toolbar .responsive .g-all-row:first-child:before:before, body.toolbar .responsive .g-all-row:first-child:before:after {
    content: " ";
    display: table;
  }
  body.toolbar .responsive .g-all-row:first-child:before:after {
    clear: both;
  }
  .responsive .g-all-row .g-all-row {
    clear: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .responsive .g-all-row .g-all-row:before, .responsive .g-all-row .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row .g-all-row:after {
    clear: both;
  }
  .responsive .g-all-c1, .responsive .g-all-c2, .responsive .g-all-c3, .responsive .g-all-c4, .responsive .g-all-c5, .responsive .g-all-c6, .responsive .g-all-c7, .responsive .g-all-c8, .responsive .g-all-c9, .responsive .g-all-c10, .responsive .g-all-c11, .responsive .g-all-c12,
  .responsive .g-t-c1, .responsive .g-t-c2, .responsive .g-t-c3, .responsive .g-t-c4, .responsive .g-t-c5, .responsive .g-t-c6, .responsive .g-t-c7, .responsive .g-t-c8, .responsive .g-t-c9, .responsive .g-t-c10, .responsive .g-t-c11, .responsive .g-t-c12 {
    float: right;
  }
  .responsive .g-t-c1, .responsive .g-all-c1 {
    margin-left: 2.80899%;
    width: 5.75843%;
    margin-right: 0;
  }
  .responsive .g-t-c2, .responsive .g-all-c2 {
    margin-left: 2.80899%;
    width: 14.32584%;
    margin-right: 0;
  }
  .responsive .g-t-c3, .responsive .g-all-c3 {
    margin-left: 2.80899%;
    width: 22.89326%;
    margin-right: 0;
  }
  .responsive .g-t-c4, .responsive .g-all-c4 {
    margin-left: 2.80899%;
    width: 31.46067%;
    margin-right: 0;
  }
  .responsive .g-t-c5, .responsive .g-all-c5 {
    margin-left: 2.80899%;
    width: 40.02809%;
    margin-right: 0;
  }
  .responsive .g-t-c6, .responsive .g-all-c6 {
    margin-left: 2.80899%;
    width: 48.59551%;
    margin-right: 0;
  }
  .responsive .g-t-c7, .responsive .g-all-c7 {
    margin-left: 2.80899%;
    width: 57.16292%;
    margin-right: 0;
  }
  .responsive .g-t-c8, .responsive .g-all-c8 {
    margin-left: 2.80899%;
    width: 65.73034%;
    margin-right: 0;
  }
  .responsive .g-t-c9, .responsive .g-all-c9 {
    margin-left: 2.80899%;
    width: 74.29775%;
    margin-right: 0;
  }
  .responsive .g-t-c10, .responsive .g-all-c10 {
    margin-left: 2.80899%;
    width: 82.86517%;
    margin-right: 0;
  }
  .responsive .g-t-c11, .responsive .g-all-c11 {
    margin-left: 2.80899%;
    width: 91.43258%;
    margin-right: 0;
  }
  .responsive .g-t-c12, .responsive .g-all-c12 {
    margin-left: 2.80899%;
    width: 100%;
    margin-right: 0;
  }
  .responsive .g-all-p1, .responsive .g-t-p1 {
    margin-right: 0%;
    margin-left: -100%;
  }
  .responsive .g-all-p2, .responsive .g-t-p2 {
    margin-right: 8.56742%;
    margin-left: -100%;
  }
  .responsive .g-all-p3, .responsive .g-t-p3 {
    margin-right: 17.13483%;
    margin-left: -100%;
  }
  .responsive .g-all-p4, .responsive .g-t-p4 {
    margin-right: 25.70225%;
    margin-left: -100%;
  }
  .responsive .g-all-p5, .responsive .g-t-p5 {
    margin-right: 34.26966%;
    margin-left: -100%;
  }
  .responsive .g-all-p6, .responsive .g-t-p6 {
    margin-right: 42.83708%;
    margin-left: -100%;
  }
  .responsive .g-all-p7, .responsive .g-t-p7 {
    margin-right: 51.40449%;
    margin-left: -100%;
  }
  .responsive .g-all-p8, .responsive .g-t-p8 {
    margin-right: 59.97191%;
    margin-left: -100%;
  }
  .responsive .g-all-p9, .responsive .g-t-p9 {
    margin-right: 68.53933%;
    margin-left: -100%;
  }
  .responsive .g-all-p10, .responsive .g-t-p10 {
    margin-right: 77.10674%;
    margin-left: -100%;
  }
  .responsive .g-all-p11, .responsive .g-t-p11 {
    margin-right: 85.67416%;
    margin-left: -100%;
  }
  .responsive .g-all-p12, .responsive .g-t-p12 {
    margin-right: 94.24157%;
    margin-left: -100%;
  }
  .responsive .g-all-right, .responsive .g-t-right {
    display: inline;
    float: left;
  }
  .responsive .g-all-left, .responsive .g-t-left {
    display: inline;
    float: right;
  }
  .responsive .g-all-f, .responsive .g-t-f {
    clear: right;
  }
  .responsive .g-all-l, .responsive .g-t-l {
    clear: left;
    margin-left: 0;
    #margin-left: -1em;
  }
}
/* Tablet Landscape */
@media only screen and (min-width: 980px) and (max-width: 1159px) {
  .responsive .g-all-row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 928px;
  }
  .responsive .g-all-row:before, .responsive .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row:after {
    clear: both;
  }
  body.toolbar .responsive .g-all-row:first-child:before {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 928px;
  }
  body.toolbar .responsive .g-all-row:first-child:before:before, body.toolbar .responsive .g-all-row:first-child:before:after {
    content: " ";
    display: table;
  }
  body.toolbar .responsive .g-all-row:first-child:before:after {
    clear: both;
  }
  .responsive .g-all-row .g-all-row {
    clear: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .responsive .g-all-row .g-all-row:before, .responsive .g-all-row .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row .g-all-row:after {
    clear: both;
  }
  .responsive .g-all-c1, .responsive .g-all-c2, .responsive .g-all-c3, .responsive .g-all-c4, .responsive .g-all-c5, .responsive .g-all-c6, .responsive .g-all-c7, .responsive .g-all-c8, .responsive .g-all-c9, .responsive .g-all-c10, .responsive .g-all-c11, .responsive .g-all-c12,
  .responsive .g-tl-c1, .responsive .g-tl-c2, .responsive .g-tl-c3, .responsive .g-tl-c4, .responsive .g-tl-c5, .responsive .g-tl-c6, .responsive .g-tl-c7, .responsive .g-tl-c8, .responsive .g-tl-c9, .responsive .g-tl-c10, .responsive .g-tl-c11, .responsive .g-tl-c12 {
    float: right;
  }
  .responsive .g-tl-c1, .responsive .g-all-c1 {
    margin-left: 2.15517%;
    width: 6.35776%;
    margin-right: 0;
  }
  .responsive .g-tl-c2, .responsive .g-all-c2 {
    margin-left: 2.15517%;
    width: 14.87069%;
    margin-right: 0;
  }
  .responsive .g-tl-c3, .responsive .g-all-c3 {
    margin-left: 2.15517%;
    width: 23.38362%;
    margin-right: 0;
  }
  .responsive .g-tl-c4, .responsive .g-all-c4 {
    margin-left: 2.15517%;
    width: 31.89655%;
    margin-right: 0;
  }
  .responsive .g-tl-c5, .responsive .g-all-c5 {
    margin-left: 2.15517%;
    width: 40.40948%;
    margin-right: 0;
  }
  .responsive .g-tl-c6, .responsive .g-all-c6 {
    margin-left: 2.15517%;
    width: 48.92241%;
    margin-right: 0;
  }
  .responsive .g-tl-c7, .responsive .g-all-c7 {
    margin-left: 2.15517%;
    width: 57.43534%;
    margin-right: 0;
  }
  .responsive .g-tl-c8, .responsive .g-all-c8 {
    margin-left: 2.15517%;
    width: 65.94828%;
    margin-right: 0;
  }
  .responsive .g-tl-c9, .responsive .g-all-c9 {
    margin-left: 2.15517%;
    width: 74.46121%;
    margin-right: 0;
  }
  .responsive .g-tl-c10, .responsive .g-all-c10 {
    margin-left: 2.15517%;
    width: 82.97414%;
    margin-right: 0;
  }
  .responsive .g-tl-c11, .responsive .g-all-c11 {
    margin-left: 2.15517%;
    width: 91.48707%;
    margin-right: 0;
  }
  .responsive .g-tl-c12, .responsive .g-all-c12 {
    margin-left: 2.15517%;
    width: 100%;
    margin-right: 0;
  }
  .responsive .g-all-p1, .responsive .g-tl-p1 {
    margin-right: 0%;
    margin-left: -100%;
  }
  .responsive .g-all-p2, .responsive .g-tl-p2 {
    margin-right: 8.51293%;
    margin-left: -100%;
  }
  .responsive .g-all-p3, .responsive .g-tl-p3 {
    margin-right: 17.02586%;
    margin-left: -100%;
  }
  .responsive .g-all-p4, .responsive .g-tl-p4 {
    margin-right: 25.53879%;
    margin-left: -100%;
  }
  .responsive .g-all-p5, .responsive .g-tl-p5 {
    margin-right: 34.05172%;
    margin-left: -100%;
  }
  .responsive .g-all-p6, .responsive .g-tl-p6 {
    margin-right: 42.56466%;
    margin-left: -100%;
  }
  .responsive .g-all-p7, .responsive .g-tl-p7 {
    margin-right: 51.07759%;
    margin-left: -100%;
  }
  .responsive .g-all-p8, .responsive .g-tl-p8 {
    margin-right: 59.59052%;
    margin-left: -100%;
  }
  .responsive .g-all-p9, .responsive .g-tl-p9 {
    margin-right: 68.10345%;
    margin-left: -100%;
  }
  .responsive .g-all-p10, .responsive .g-tl-p10 {
    margin-right: 76.61638%;
    margin-left: -100%;
  }
  .responsive .g-all-p11, .responsive .g-tl-p11 {
    margin-right: 85.12931%;
    margin-left: -100%;
  }
  .responsive .g-all-p12, .responsive .g-tl-p12 {
    margin-right: 93.64224%;
    margin-left: -100%;
  }
  .responsive .g-all-right, .responsive .g-tl-right {
    display: inline;
    float: left;
  }
  .responsive .g-all-left, .responsive .g-tl-left {
    display: inline;
    float: right;
  }
  .responsive .g-all-f, .responsive .g-tl-f {
    clear: right;
  }
  .responsive .g-all-l, .responsive .g-tl-l {
    clear: left;
    margin-left: 0;
    #margin-left: -1em;
  }
}
/* Desktop */
@media only screen and (min-width: 1160px) {
  .responsive .g-all-row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1108px;
  }
  .responsive .g-all-row:before, .responsive .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row:after {
    clear: both;
  }
  body.toolbar .responsive .g-all-row:first-child:before {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1108px;
  }
  body.toolbar .responsive .g-all-row:first-child:before:before, body.toolbar .responsive .g-all-row:first-child:before:after {
    content: " ";
    display: table;
  }
  body.toolbar .responsive .g-all-row:first-child:before:after {
    clear: both;
  }
  .responsive .g-all-row .g-all-row {
    clear: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .responsive .g-all-row .g-all-row:before, .responsive .g-all-row .g-all-row:after {
    content: " ";
    display: table;
  }
  .responsive .g-all-row .g-all-row:after {
    clear: both;
  }
  .responsive .g-all-c1, .responsive .g-all-c2, .responsive .g-all-c3, .responsive .g-all-c4, .responsive .g-all-c5, .responsive .g-all-c6, .responsive .g-all-c7, .responsive .g-all-c8, .responsive .g-all-c9, .responsive .g-all-c10, .responsive .g-all-c11, .responsive .g-all-c12,
  .responsive .g-d-c1, .responsive .g-d-c2, .responsive .g-d-c3, .responsive .g-d-c4, .responsive .g-d-c5, .responsive .g-d-c6, .responsive .g-d-c7, .responsive .g-d-c8, .responsive .g-d-c9, .responsive .g-d-c10, .responsive .g-d-c11, .responsive .g-d-c12 {
    float: right;
  }
  .responsive .g-d-c1, .responsive .g-all-c1 {
    margin-left: 1.80505%;
    width: 6.6787%;
    margin-right: 0;
  }
  .responsive .g-d-c2, .responsive .g-all-c2 {
    margin-left: 1.80505%;
    width: 15.16245%;
    margin-right: 0;
  }
  .responsive .g-d-c3, .responsive .g-all-c3 {
    margin-left: 1.80505%;
    width: 23.64621%;
    margin-right: 0;
  }
  .responsive .g-d-c4, .responsive .g-all-c4 {
    margin-left: 1.80505%;
    width: 32.12996%;
    margin-right: 0;
  }
  .responsive .g-d-c5, .responsive .g-all-c5 {
    margin-left: 1.80505%;
    width: 40.61372%;
    margin-right: 0;
  }
  .responsive .g-d-c6, .responsive .g-all-c6 {
    margin-left: 1.80505%;
    width: 49.09747%;
    margin-right: 0;
  }
  .responsive .g-d-c7, .responsive .g-all-c7 {
    margin-left: 1.80505%;
    width: 57.58123%;
    margin-right: 0;
  }
  .responsive .g-d-c8, .responsive .g-all-c8 {
    margin-left: 1.80505%;
    width: 66.06498%;
    margin-right: 0;
  }
  .responsive .g-d-c9, .responsive .g-all-c9 {
    margin-left: 1.80505%;
    width: 74.54874%;
    margin-right: 0;
  }
  .responsive .g-d-c10, .responsive .g-all-c10 {
    margin-left: 1.80505%;
    width: 83.03249%;
    margin-right: 0;
  }
  .responsive .g-d-c11, .responsive .g-all-c11 {
    margin-left: 1.80505%;
    width: 91.51625%;
    margin-right: 0;
  }
  .responsive .g-d-c12, .responsive .g-all-c12 {
    margin-left: 1.80505%;
    width: 100%;
    margin-right: 0;
  }
  .responsive .g-all-p1, .responsive .g-d-p1 {
    margin-right: 0%;
    margin-left: -100%;
  }
  .responsive .g-all-p2, .responsive .g-d-p2 {
    margin-right: 8.48375%;
    margin-left: -100%;
  }
  .responsive .g-all-p3, .responsive .g-d-p3 {
    margin-right: 16.96751%;
    margin-left: -100%;
  }
  .responsive .g-all-p4, .responsive .g-d-p4 {
    margin-right: 25.45126%;
    margin-left: -100%;
  }
  .responsive .g-all-p5, .responsive .g-d-p5 {
    margin-right: 33.93502%;
    margin-left: -100%;
  }
  .responsive .g-all-p6, .responsive .g-d-p6 {
    margin-right: 42.41877%;
    margin-left: -100%;
  }
  .responsive .g-all-p7, .responsive .g-d-p7 {
    margin-right: 50.90253%;
    margin-left: -100%;
  }
  .responsive .g-all-p8, .responsive .g-d-p8 {
    margin-right: 59.38628%;
    margin-left: -100%;
  }
  .responsive .g-all-p9, .responsive .g-d-p9 {
    margin-right: 67.87004%;
    margin-left: -100%;
  }
  .responsive .g-all-p10, .responsive .g-d-p10 {
    margin-right: 76.35379%;
    margin-left: -100%;
  }
  .responsive .g-all-p11, .responsive .g-d-p11 {
    margin-right: 84.83755%;
    margin-left: -100%;
  }
  .responsive .g-all-p12, .responsive .g-d-p12 {
    margin-right: 93.3213%;
    margin-left: -100%;
  }
  .responsive .g-all-right, .responsive .g-d-right {
    display: inline;
    float: left;
  }
  .responsive .g-all-left, .responsive .g-d-left {
    display: inline;
    float: right;
  }
  .responsive .g-all-f, .responsive .g-d-f {
    clear: right;
  }
  .responsive .g-all-l, .responsive .g-d-l {
    clear: left;
    margin-left: 0;
    #margin-left: -1em;
  }
}
.ie6-8 .g-all-c1, .ie6-8 .g-all-c2, .ie6-8 .g-all-c3, .ie6-8 .g-all-c4, .ie6-8 .g-all-c5, .ie6-8 .g-all-c6, .ie6-8 .g-all-c7, .ie6-8 .g-all-c8, .ie6-8 .g-all-c9, .ie6-8 .g-all-c10, .ie6-8 .g-all-c11, .ie6-8 .g-all-c12,
.ie6-8 .g-d-c1, .ie6-8 .g-d-c2, .ie6-8 .g-d-c3, .ie6-8 .g-d-c4, .ie6-8 .g-d-c5, .ie6-8 .g-d-c6, .ie6-8 .g-d-c7, .ie6-8 .g-d-c8, .ie6-8 .g-d-c9, .ie6-8 .g-d-c10, .ie6-8 .g-d-c11, .ie6-8 .g-d-c12 {
  float: right;
}
.ie6-8 .g-d-c1, .ie6-8 .g-all-c1 {
  margin-left: 20px;
  width: 74px;
  margin-right: 0;
}
.ie6-8 .g-d-c2, .ie6-8 .g-all-c2 {
  margin-left: 20px;
  width: 168px;
  margin-right: 0;
}
.ie6-8 .g-d-c3, .ie6-8 .g-all-c3 {
  margin-left: 20px;
  width: 262px;
  margin-right: 0;
}
.ie6-8 .g-d-c4, .ie6-8 .g-all-c4 {
  margin-left: 20px;
  width: 356px;
  margin-right: 0;
}
.ie6-8 .g-d-c5, .ie6-8 .g-all-c5 {
  margin-left: 20px;
  width: 450px;
  margin-right: 0;
}
.ie6-8 .g-d-c6, .ie6-8 .g-all-c6 {
  margin-left: 20px;
  width: 544px;
  margin-right: 0;
}
.ie6-8 .g-d-c7, .ie6-8 .g-all-c7 {
  margin-left: 20px;
  width: 638px;
  margin-right: 0;
}
.ie6-8 .g-d-c8, .ie6-8 .g-all-c8 {
  margin-left: 20px;
  width: 732px;
  margin-right: 0;
}
.ie6-8 .g-d-c9, .ie6-8 .g-all-c9 {
  margin-left: 20px;
  width: 826px;
  margin-right: 0;
}
.ie6-8 .g-d-c10, .ie6-8 .g-all-c10 {
  margin-left: 20px;
  width: 920px;
  margin-right: 0;
}
.ie6-8 .g-d-c11, .ie6-8 .g-all-c11 {
  margin-left: 20px;
  width: 1014px;
  margin-right: 0;
}
.ie6-8 .g-d-c12, .ie6-8 .g-all-c12 {
  margin-left: 20px;
  width: 1108px;
  margin-right: 0;
}
.ie6-8 .g-all-p1, .ie6-8 .g-d-p1 {
  margin-right: 0px;
  margin-left: -100%;
}
.ie6-8 .g-all-p2, .ie6-8 .g-d-p2 {
  margin-right: 94px;
  margin-left: -100%;
}
.ie6-8 .g-all-p3, .ie6-8 .g-d-p3 {
  margin-right: 188px;
  margin-left: -100%;
}
.ie6-8 .g-all-p4, .ie6-8 .g-d-p4 {
  margin-right: 282px;
  margin-left: -100%;
}
.ie6-8 .g-all-p5, .ie6-8 .g-d-p5 {
  margin-right: 376px;
  margin-left: -100%;
}
.ie6-8 .g-all-p6, .ie6-8 .g-d-p6 {
  margin-right: 470px;
  margin-left: -100%;
}
.ie6-8 .g-all-p7, .ie6-8 .g-d-p7 {
  margin-right: 564px;
  margin-left: -100%;
}
.ie6-8 .g-all-p8, .ie6-8 .g-d-p8 {
  margin-right: 658px;
  margin-left: -100%;
}
.ie6-8 .g-all-p9, .ie6-8 .g-d-p9 {
  margin-right: 752px;
  margin-left: -100%;
}
.ie6-8 .g-all-p10, .ie6-8 .g-d-p10 {
  margin-right: 846px;
  margin-left: -100%;
}
.ie6-8 .g-all-p11, .ie6-8 .g-d-p11 {
  margin-right: 940px;
  margin-left: -100%;
}
.ie6-8 .g-all-p12, .ie6-8 .g-d-p12 {
  margin-right: 1034px;
  margin-left: -100%;
}
.ie6-8 .g-all-right, .ie6-8 .g-d-right {
  display: inline;
  float: left;
}
.ie6-8 .g-all-left, .ie6-8 .g-d-left {
  display: inline;
  float: right;
}
.ie6-8 .g-all-f, .ie6-8 .g-d-f {
  clear: right;
}
.ie6-8 .g-all-l, .ie6-8 .g-d-l {
  clear: left;
  margin-left: 0;
  #margin-left: -1em;
}
