// Search text color

#search-theme-form input.form-text,
#search-box input.form-text,
#search-block-form input.form-text,
#islandora-solr-simple-search-form input.form-text,
#ilives-solr-simple-search-block-form input.form-text,
#google-cse-searchbox-form input.form-text,
#ilives-solr-search-block-form input.form-text {
  color: $secondary-color;
  &:focus {
    color: $tertiary-color;
  }
}


%ribbon {
  width: 100%;
  height: 0px;
  border-left: 1.1em solid transparent;
  border-top: 1.1em solid $secondary-color;
  border-right: 1.1em solid $secondary-color;
  border-bottom: 1.1em solid $secondary-color;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  margin-left: -2.2em;
}

.main-menu-inner,
.navigation-inner {
  @extend %ribbon;
}

.main-menu-inner .main-menu {
  @include horizontal-list-container;
  margin-top: -12px;
  margin-left: 10px;
  li {
    @include horizontal-list-item(0, left);
  }
  a { // Overall links in main-menu region
    padding: 0.5em 0.75em;
    &.active, &:hover {
      background-color: darken($secondary-color, 5);
    }
  }
}

.navigation-inner .block {
  margin-top: -1em;
  margin-left: 10px;
}

.roblib-responsive-menu-1,
.roblib-responsive-menu-2,
.roblib-responsive-menu-3,
.roblib-responsive-menu-4 {
   select {
    margin-top: 0.25em;
    width: 100%;
  }
}

// Secondary links get a default styling and must be in upper right region

%round-bottom-menu {
  background-color: $tertiary-color;
  @include border-bottom-radius(5px);
  padding: 0 $typographic-indent 6px $typographic-indent;
  > li {
    a {
      text-transform: uppercase;
      @include link-colors($link-color-alt, $link-color-hover-alt, $link-color-active-alt, $link-color-visited-alt, $link-color-hover-alt);
      &.active { color: $link-color-active-alt }
    }
  }
}

#secondary {
  float: right;
  &.links {
    @extend %round-bottom-menu;
    margin: 0;
  > li {
      @include horizontal-list-container;
      @include horizontal-list-item(10px, left);
      @include adjust-font-size-to($font-size-sm, 0.4);
      border-right: 1px solid $link-color-alt;
      &.last {
        border-right: 0px;
      }
    }
  }
  @include breakpoint-at($break-handheld-all) {
    float: none;
  }
  .responsive-off & {
    float: right;
  }
}

// Footer links
.footer-columns, .footer-wrapper .footer {
  @include padding-leader(0.5);
  color: lighten($link-color-alt, 20);
  h2 {
    &.block-title, &.title {
      padding-left: 10px;
      background-color: $tertiary-color;
      @include border-radius(5px);
      @include adjust-font-size-to($font-size-md, 1);
    }
  }
  a {
    @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
  }
  ul {
    padding-left: 10px;
    li, li.leaf {
      list-style: none;
    }
  }
}

/* Breadcrumbs */

.breadcrumb {
  color: adjust-color($link-color-alt, $lightness: -10);
  @include margin-leader(0);
  @include margin-trailer(0);
  margin-left: 0;
  padding-left: 0;
a {
  @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
  padding: 0;
  }
}