/* This will be the default if "none" is selected in a superfish menu */

.sf-menu.sf-style-none {
  float: left;
  margin-bottom: 1em;
  padding: 0;
  a { // Overall links
    padding: 0.5em 0.75em;
    &.active, &:hover {
      background-color: darken($secondary-color, 5);
    }
  }
  ul li { // Dropdowns
    top: -7px;
    a {
      background-color: lighten($secondary-color, 5);
    }
  }
}

.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
  padding-bottom: 3px !important;
}